@import "../../styles/variables";

$itemPadding: 32px;

.container {
  display: flex;
  gap: 24px;
  padding: $itemPadding;
}

.item {
  width: 50%;

  &--scrollable {
    overflow-y: scroll;
    height: calc(100vh - $topBarHeight - ($itemPadding * 2));
  }
}