@import "../../styles/variables";

.container {
  height: $topBarHeight;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $mineralGreen;
}

.logo {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  color: $white;
}

.linksContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 0;
  font-size: 16px;
  text-decoration: none;
  color: $white;
}